.tracker {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  color: white;
  p {
    font-size: 50%;
  }
  h1 {
    font-size: 75%;
  }
}

.stattrack {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.error {
  font-family: sans-serif;
  color: red;
}